# derived Python

pym/grammars/bash.py

# Compiled Python
*.py[cod]

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
var
sdist
develop-eggs
.installed.cfg
lib
lib64

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.coveragerc
.tox
nosetests.xml

# OS X
.DS_Store

# vim
.*sw[po]

# Sphinx
_build
build.*.log


# local dev files
todo.txt
.pythonhistory
.idea
*.fail
*.out.py
tags
